@model Infrastructure.Interns.ViewModels.GetInternVm

<form asp-action="Update" method="post" asp-route-id="@Model.Id">
    <input hidden asp-for="@Model.Id" value="@Model.Id"/>
    <label>Name</label>
    <input asp-for="@Model.Name"/>
    <br/>
    <label>Email</label>
    <input asp-for="@Model.Email"/>
    <br/>
    <label>Address</label>
    <input asp-for="@Model.Address"/>
    <br/>
    <label>Position</label>
    <input asp-for="@Model.Position"/>
    <br/>
    <label>Phone</label>
    <input asp-for="@Model.PhoneNumber"/>
    <br/>
    <label>Start</label>
    <input asp-for="@Model.StartsAt"/>
    <br/>
    <label>End</label>
    <input asp-for="@Model.FinishedAt"/>
    <br/>
    <label>Uni</label>
    <input asp-for="@Model.University"/>
    <br/>

    <button type="submit">Update</button>
</form>