@model Infrastructure.Restaurants.ViewModels.GetRestaurantVm


<form asp-action="Update" method="post" asp-route-id="@Model.Id">
    <input hidden asp-for="@Model.Id" value="@Model.Id" />
    <label>Name</label>
    <input asp-for="@Model.Name" />
    <br />
    <label>Person In Charge</label>
    <input asp-for="@Model.PersonInCharge" />
    <br />
    <label>Address</label>
    <input asp-for="@Model.Address" />
    <br />
    <label>Phone</label>
    <input asp-for="@Model.PhoneNumber" />
    <br />

    <button type="submit">Update</button>
</form>